.bannerDetail {
    position: relative;
    top: -90px;
    margin-bottom: 5rem;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.detail_wrapper {
    display: flex;
    justify-content: center;
}

.image_movie {
    width: 100%;
    height: 600px;
    background-size: cover;
}

.detail_movie {
    position: absolute;
    top: 14rem;
    color: white;
    width: 50%;
    line-height: 30px;
}

.secondary {
    color: rgb(239, 162, 157);
}